@{
    ViewData["Title"] = "Books";
}


<script>
    function Click(id, action) {
        if (action !== "EditBook" || confirm('Are you sure you want to edit this book?')) {
        $.ajax({
          url: ('@Url.Action("REPLACE", "Books")'.replace('REPLACE', action)),
          type: 'POST',
          data: { BookId: id }
        }).done(function () {
          if (action === 'Archive'){
            document.getElementById('tr_' + id).style.display = "none";
          } else if (action === 'Complete') {
            document.getElementById('td_complete_' + id).style.display = "";
            document.getElementById('td_incomplete_' + id).style.display = "none";
          } else if (action === 'Incomplete') {
            document.getElementById('td_complete_' + id).style.display = "none";
            document.getElementById('td_incomplete_' + id).style.display = "";
          }
        });
      }
    }
</script>

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table-books">
        <tr class="header">
            <td>Book</td>
            <td>Book Type</td>
            <td>Language</td>
            <td>Action</td>
        </tr>
        @if (Model != null)
        {
            var added = false;
            foreach (var b in Model)
            {
                <tr id="tr_@b.BookId">
                    <td id="@b.BookId">@b.BookName</td>
                    <td id="@b.BookType.BookTypeId">@b.BookType.BookTypeName</td>
                    <td id="@b.BookLanguage.BookLanguageId">@b.BookLanguage.BookLanguageName</td>
                    <td><button class="delete-button" onclick="Click(@b.BookId,'EditBook')"></button></td>
                </tr>
                added = true;
            }
            if (!added)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td style="display:none;"></td>
                    <td>No Books found.</td>
                </tr>
            }
        }
    </table>
</div>